<td>
  <%=user.name %>
</td>
<td>
  <p><%=user.email %></p>
</td>
<td>
  <p><%=user.role %></p>
</td>
<td>
	<%= link_to 'Show', user, :class => 'btn btn-primary' %>	
</td>
<td>
  <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-primary' %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger') unless user == current_user %>
</td>