<h3>Department</h3>
<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Company code:</strong>
  <%= @department.company_code %>
</p>
<p>
  <strong>Parent Department:</strong>
  <%= @department.Department.name %>
</p>
<p>
<strong>Children Departments:</strong><br>
</p>
      <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company code</th>
      <th>Parent Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @department.Departments.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.company_code %></td>
        <td><%= child.Department.name %></td>
        <td><%= link_to 'Show', child, :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_department_path(@department), :class => 'btn btn-primary' %> |
<%= link_to 'Back', departments_path, :class => 'btn btn-info' %>
